<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.domain.SysUser">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="create_date" jdbcType="DATE" property="createDate" />
        <result column="accountNonExpired" jdbcType="INTEGER" property="accountnonexpired" />
        <result column="accountNonLocked" jdbcType="INTEGER" property="accountnonlocked" />
        <result column="credentialsNonExpired" jdbcType="INTEGER" property="credentialsnonexpired" />
        <result column="enabled" jdbcType="INTEGER" property="enabled" />
    </resultMap>

    <select id="selectByUserName" resultType="com.example.demo.domain.SysUser">
        SELECT * FROM `sys_user` where userName = #{userName}
    </select>

    <select id="findPreMissionByUserName" resultType="java.lang.String">
        SELECT
	    premission.premission
        FROM
            sys_user
            AS USER INNER JOIN sys_user_role AS userrole ON USER.id = userrole.userId
            INNER JOIN sys_role AS role ON userrole.roleId = role.id
            INNER JOIN role_premission AS rpremission ON role.id = rpremission.roleId
            INNER JOIN premission ON rpremission.premissionId = premission.id
        WHERE
	username = #{username}
    </select>

</mapper>
